[Unit]
Description=Determine whether the system is infected with a rootkit

[Service]
Type=oneshot
ExecStart=/usr/sbin/chkrootkit -q
SyslogLevel=crit

[Install]
WantedBy=multi-user.target
